*{
  margin:0;
  padding:0;
}

@-ms-viewport{
  width: device-width;
}

body{
  /*Site Google Font */
  font-family: 'Roboto';
}

.navbar {
  top:0;
  left:0;
  width: 100%;
  /*background-color:rgba(0, 0, 0,.5);*/
  height: 60px;
  z-index: 9999;
  position: fixed;
}

.navbar ul{
  margin-left:20px;
  height:60px;
  line-height:60px;
  min-width:20px;
}

.navbar ul li{
  margin-right:25px;
  display:inline-block;
}


.navbar ul li a{
  color:rgba(255,255,255,.9);
  font-weight:500;
  text-decoration:none;
}

.navbar ul li a:hover{
  color:rgb(248, 168, 27);
}

@media screen and (max-width:680px) {
  /* Remove margins and padding from the list, and add a black background color */
  .navbar{
    height:30px;
    background-color:rgba(0,0,0,.5);
  }
  .navbar ul {
      list-style-type: none;
      margin: 0;
      line-height:30px;
      height:30px;
  }

  /* Float the list items side by side */
  .navbar li {float: left;}

  /* Style the links inside the list items */
  .navbar ul li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      text-decoration: none;
      font-size: 10px;
      padding-left:15px;
  }

  /* Change background color of links on hover */
  /*.navbar ul li a:hover {background-color: #111;}*/

  /* Hide the list item that contains the link that should open and close the topnav on small screens */
  .navbar ul li.icon {display: none;}
}




/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  .navbar ul li:not(:first-child) {display: none;}
  .navbar ul li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  .navbar ul.responsive {
    position: relative; 
    height:100vh;
    background-color:rgba(0,0,0,.8);
    padding-top:100px;
  }
  .navbar ul.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar ul.responsive li {
    float: none;
    display: inline;
  }

  .navbar ul.responsive li a {
    display: block;
    text-align: center;
    font-size:30px;
  }

  .navbar ul.responsive li a {
    display: block;
    text-align: center;
    font-size:30px;
    padding-bottom:20px;
  }

  .navbar ul.responsive li:first-child a{
    /*margin-top:60px;*/
  }
}

textarea:focus, input:focus{
    outline: none;
}

.above-fold {
  /* Location of the image */
  background-image: url(images/gym_blur.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *      the content's height is greater than the image's height */
  /*background-attachment: fixed;*/
  
  /* This is what makes the background image rescale based
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *      on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *      while the background image is loading */
  background-color: #464646;
  
  height:100vh;
  display: table;
  width: 100%;
}

@media only screen and (max-width: 500px) {
   .above-fold { height:255px; }
}

#home {  
  margin: 0 auto;
  width:100%;
  /*min-width:1300px; responsive test*/
  vertical-align: baseline;
  color: white;
  text-align:center;
}

#home h1{
  text-align:center;
  font-size:50px;
  font-weight:100;
}

@media only screen and (max-width: 500px) {
   #home h1 { font-size: 25px; }
}

#above-fold-content{
  margin:auto;
  margin-top:40px;
  border-style:white;
}

@media only screen and (max-width: 500px) {

   #above-fold-content { font-size: 10px; margin-top:25%; }
  
}

#above-fold-head{
  margin:auto;
  margin-top:15%;
  width:100%px;
  text-align:center;
  font-size:80px;
}

.stacked.one{
}

@media only screen and (max-width: 500px) {

   /*.stacked.one { margin-top:0px; font-size: 30px; }*/
   .stacked.one{display:none;};
  
}

.stacked.two{
  font-size:55px;
  color:rgba(248, 168, 27,.5);
}

@media only screen and (max-width: 500px) {

   /*.stacked.two { margin-top:2%; font-size: 35px; }*/
   .stacked.two{display:none;}
  
}

.bottom-banner{
  position:absolute;
  bottom:1%;
  left:0;
  bottom:0;
  background-color:rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
}

.above-fold .bottom-banner{
  height:80px;
  width:100%;
}

@media screen and (max-width: 500px) 
{
  .above-fold .bottom-banner{
    top: 205px; 
    height:50px;
  }
}

.action{
  position:relative;
  text-align:center;
  display: flex;
  align-self: center;
}

.action .label{
  margin:auto;
  text-align:center;
}

.user-input-wrapper{
  margin:auto;
  text-align:center;
  display: flex;
  justify-content: center;
}

.user-input{
  display: flex;
  align-self: center;
}

.user-input::placeholder{
  color:white;
}

.user-input input{
  width:500px;
  height:50px;
  display:inline-block;
  padding-left:25px;
  font-size:35px;
  color:white;
  background-color:rgba(255,255,255,.3);
  border-style:solid;
  border-color:rgb(248, 168, 27);
  border-radius:5px;
  border-width:3px;
  font-weight:300;

}

@media only screen and (max-width: 500px) {

   .user-input input { margin:auto; padding-left:10px; width:200px; height:35px; line-height:15px; font-size:15px; }
  
}

.button{
  width:200px;
  text-align:center;
  vertical-align:center;
  margin-left:3%;
  border-style:solid;
  border-radius:3px;
  border-width:1px;
  border-color:rgba(255,255,255,1);
  background-color:rgba(248, 168, 27,.8);
  font-size:25px;
  font-weight:100;
  color:white;
  line-height:50px;
}

.button:hover{
  cursor:pointer;
}

@media only screen and (max-width: 500px) {

   .button { width:105px; height:40px; line-height:40px; font-size:15px; }
  
}

.highlight{
  color:rgb(248, 168, 27);
}

::-webkit-input-placeholder {
   color: lightgray;
   font-weight:100;
   font-size:25px;
}

@media only screen and (max-width: 500px) {

   ::-webkit-input-placeholder { font-size:20px; }
  
}

:-moz-placeholder { /* Firefox 18- */
   color: lightgray;
   font-weight:100;
   font-size:25px;
}

@media only screen and (max-width: 500px) {

   :-moz-placeholder { font-size:20px; }
  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lightgray;
   font-weight:100;
   font-size:25px;
}

@media only screen and (max-width: 500px) {

   ::-moz-placeholder { font-size:20px; }
  
}

:-ms-input-placeholder {  
   color: lightgray;
   font-weight:100;
   font-size:25px;  
}

@media only screen and (max-width: 500px) {

   :-ms-input-placeholder { font-size:20px; }
  
}

.section-body{
    width:100%;
    min-height:750px;
    padding-top:60px;
    padding-bottom:5%;
    background:rgba(0,0,0,.05);
}

@media only screen and (max-width: 500px) {

   .section-body { 
    padding-top:30px; 
   }
  
}


.section-body#blog{
  height:800px;
}

.section-body .section-head  {
  padding-top:2%;
  width:100%;
  text-align:center;
  font-size:80px;
}

@media only screen and (max-width: 500px) {

   .section-body .section-head { font-size:50px; }
  
}


.section-body .sub-head{
  padding-bottom:2%;
  text-align:center;
  font-size:20px;
}

@media only screen and (max-width: 500px) {

   .section-body .sub-head { font-size:15px; }
  
}

.section-body#about .section-head{
  background:rgba(248, 168, 27,.8);
}

.section-body#about .sub-head{
  background:rgba(248, 168, 27,.8);
}

.section-body .section-content{
  margin:auto;
  margin-bottom:2%;
}

.section-body .section-content.dual-panel{
  text-align: center;
}

@media only screen and (max-width: 500px) {

   .section-body .section-content.dual-panel { font-size:20px; }
  
}


.left-panel
{
  margin:auto;
  margin:2%;
  border-radius:5px;
  display: inline-block;
  text-align: left;
  padding: 30px;
  vertical-align: top;
}

.right-panel
{
  margin:auto;
  margin:2%;
  display: inline-block;
  text-align: left;
  border-radius: 3px;
}

@media screen and (max-width: 800px) 
{
  .left-div, .right-div
    {
       max-width: 100%;
    }
}

@media screen and (max-width: 500px) 
{
    .left-div, .right-div
    {
      
    }
}

.section-body .section-content .content-header{
  color:rgb(68,68,68);
  text-align:left;
  font-size:60px;
}

@media only screen and (max-width: 500px) {

   .section-body .section-content .content-header{ font-size:30px; }
  
}

.section-body .section-content .p-wrapper{
  margin-top:3%;
  max-width:450px;
}


.section-body .section-content .p-wrapper p{
  text-align:left;
  font-size:30px;
  color:rgba(68,68,68,.8);
}

@media only screen and (max-width: 500px) {

   .section-body .section-content .p-wrapper p{ font-size:20px; }
  
}

.section-body .section-content .video-container{
  padding:0;
  width:100%;
}

.section-body .section-content .video-container .video-player{
  margin:auto;
  width:400px;
  height:400px;
  border-style:solid;
  border-radius:5px;
  border-color:rgb(248, 168, 27);
  backround-color:white;
}

@media screen and (max-width: 400px) 
{
   .section-body .section-content .right-panel .video-container .video-player{ width:300px; height: 300px;};
}


.section-body .section-content  .video-container .video-player img{
  width:100%;
  height:100%;
}

#features-list{
  margin:auto;
  margin-top:5%;
  width:1200px;
  height:300px;
  display:flex;
  justify-content:center;
}

.circleBase{
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  border-style:solid;
  border-width: 5px;
  width:100%;
}

.featureContainer{
  float:left;
  margin-left:2%;
  margin-right:2%;
}

.featureContainer.outer-left{
  margin-left:0;
}

.featureContainer.outer-right{
  margin-right:0;
}

.feature-icon{
  margin:auto;
  height:150px;
  width:150px;
  border-color:rgba(68,68,68,.8);
  border-width:3px;
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *      the content's height is greater than the image's height */
  /*background-attachment: fixed;*/
  
  /* This is what makes the background image rescale based
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *      on the container's size */
  background-size: 75px;
  
  /* Set a background color that will be displayed
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *      while the background image is loading */
  
}

.feature-name{
  margin:auto;
  margin-top:25px;
  width:250px;
  text-align:center;
  font-size:20px;
  color:rgba(68,68,68,.8);

}

.feature-description{
  margin-top:5%;
  color:rgba(68,68,68,.5);
}

.workouts{
   /* Location of the image */
  background-image: url(images/icons/png/athlete.png);
}

.nutrition{
   /* Location of the image */
  background-image: url(images/icons/png/bowl-of-white-rice.png);
}

.feedback{
  /* Location of the image */
  background-image: url(images/icons/png/presentation.png);
}

.flexibility{
  /* Location of the image */
  background-image: url(images/icons/png/beer.png);
}













