#blog-nav{
  padding-left:1%;
  color:rgb(68,68,68);
}

#blog-nav li{
  margin-left:1%;
  margin-right:1%;
  line-height:50px;
  display:inline;
  list-style-type:none;
  font-size:20px;
  font-weight:100;
}

#above-nav{
  margin:auto;
  width:65%;
  text-align:center;
}

#categories-list{
  margin-top:10%;
  height:50px;
  border-bottom:solid;
  border-width:5px;
}

#categories-list .cat-item{
  margin-left:5%;
  margin-right:5%;
  line-height:50px;
  display:inline;
  list-style-type:none;
  font-size:30px;
  font-weight:bolder;
}

.cat-item a{
  color:rgb(68, 68, 68);
  text-decoration:none;
  text-transform: uppercase;
}

#posts-list{
  margin:auto;
 
  text-align:center;
  width:100%;
  padding-bottom:50px;
  background:rgba(68,68,68,.1);
}

.postContainer{
  display:inline-block;
  margin-left:25px;
  margin-right:25px;
  margin-top:50px;
  width:300px;
  height:300px;
  vertical-align:middle;
  background:white;
}

.post-thumbnail{
  height:55%;

}

.post-title{
  margin-top:5%;
  color:black;
  font-size:30px;
  font-weight:bolder;
}

/* ============================================================
  CUSTOM PAGINATION
============================================================ */

.page-numbers.page-num{
  margin-top:5%;
  color:rgb(248, 168, 27);
}

.custom-pagination span,
.custom-pagination a {
  display: inline-block;
  padding: 2px 10px;
}
.custom-pagination a {
  border-radius:3px;
  text-decoration:none;
  background-color: #ebebeb;
  color:rgb(248, 168, 27);
}
.custom-pagination a:hover {
  background-color: rgb(248, 168, 27);
  color:white;
}
.custom-pagination span.page-num {
  margin-right: 10px;
  padding: 0;
}
.custom-pagination span.dots {
  padding: 0;
  color: gainsboro;
}
.custom-pagination span.current {
  border-radius:3px;
  background-color: rgb(248, 168, 27);
  color: white;
}

blockquote {
  width: 400px;
  margin: 0px auto;
  padding: 10px;
}

























